.header {
    display: grid;
    grid-template-columns: 50px 1fr;    
    background-color:#f5f5f5;    
    border-bottom: 1px solid #a3a3a3;    
    justify-items: center;
    align-items: center;
}

.header-menu-icon{
    visibility:hidden;
    cursor: pointer;
}

.header-user{
    display: grid;
    grid-template-columns: 40px 120px 18px;
    padding: 7px;
    align-items: center;
    width: 192px;
    margin-right: 0;
    margin-left: auto;
}


.header-user-picture{
    width: 35px;
    height: 35px;
}

.header-user-data{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 17px;
}

.header-user-data > p{
    font-size: 12px;
}

.header-user-data > h6{
    font-size: 16px;
    margin-bottom: 0;
}

.header-user-icon{
    cursor: pointer;
}

@media only screen and (max-width: 768px){
    .header-menu-icon{
        visibility:visible;
    }
}

.header-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    margin-left: -145px
  }


  .header-user-icon:hover .header-dropdown-content {
    display: block; 
  }
  
  