label{    
    color:#7f7f7f;
    margin-bottom: 5px !important;
    border-radius: 7px;
}

p{
    margin-bottom: 5px !important;
}

.smart-label-content-row{
    display: grid;
    grid-auto-flow: row;
    grid-template-columns:fit-content(100%);;
    align-items: baseline;
    justify-items: start;    
}

.smart-label-content-row-center{
    display: grid;
    grid-auto-flow: row;    
    align-items: baseline;
    justify-items: center;    
    width: 100%;
}

.smart-label-content-column{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: fit-content(100%);;
    align-items: baseline;
    justify-items: start;
    column-gap: 10px;
}

.smart-label-content-column-right{
    display: grid;
    grid-auto-flow: column;    
    align-items: baseline;
    justify-items: right;
    column-gap: 10px;
    width: 100%;
    grid-template-columns: 150px;
}

.smart-label{
    display: grid;
    grid-template-columns: fit-content(100%);;
    grid-auto-flow: column;
    column-gap: 10px;
    justify-items: start;
}


.smart-label-icon{
    margin-top: -2px;
}