.menu-item{
    margin-bottom: 5px;
}
.menu-item{
    display: grid;
    grid-template-columns: 25px 1fr;
    grid-template-rows: 26px;    
    align-items: center;
}

.menu-item > p{
    margin-bottom: 0;
}

.menu-item:hover{
    background-color: #cccccc42;
    border-radius: 15px;
}

.menu-item > a{
    color: #3a3939;
    text-decoration: none;
}

.menu-item  > a:hover{
    color: #3a3939;
    text-decoration: none;
}


.side-item{
    margin-bottom: 5px;
}
.side-item{
    display: grid;
    grid-template-columns: 25px 1fr;
    grid-template-rows: 26px;    
    align-items: center;
}

.side-item > p{
    margin-bottom: 0;
}

.side-item:hover{
    background-color: #cecece5d;
    border-radius: 5px;
}

.side-item > a{
    color: #dfdfdf;
    text-decoration: none;
}

.side-item  > a:hover{
    color: #dfdfdf;
    text-decoration: none;
}
