.header-detail{
    display: grid;
    column-gap: 15px;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    margin-bottom: 1em !important;
}
.header-icon{
    cursor: pointer;
}


.detail-card-group{
    display: grid;
    grid-gap: 10px;
    grid-auto-flow: column;
    grid-template-areas: "payment payment client method"
                            "attemps attemps attemps blank";
    grid-template-columns: repeat(4,1fr);
}

.payment{
    grid-area: payment;
}

.client{
    grid-area: client;
}

.method{
    grid-area: method;
}

.attemps{
    grid-area: attemps;
    background-color: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    padding: 0.75rem;
}

.amount{
    grid-area: amount;
}

.tab-payment-group-created{
    grid-area: created;
}

.declined{
    grid-area: declined;
}

.order-id{
    grid-area: order-id;
}

.tab-payment-group-view{
    grid-area: view;
}

.tab-payment{
    display: grid;
    grid-template-areas:
        "amount created"
        "declined declined"
        "order-id view";
    column-gap: 20px;
    row-gap: 20px;

}

.tab-method{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: fit-content(100%) auto;
}

.tab-method-group-card{
    background: #00498d
}

.card-expiration {
    margin-top: 20px;
}
.card-number{
    margin-top: 20px;
}

.tab-breakdown{    
    background-color: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    padding: 0.75rem;
}

.tab-breakdown-total{
    width: 300px;
    margin-right: 24px;
    margin-left: auto;
}

@media only screen and (max-width: 768px){
    .detail-card-group{
        grid-template-areas: "payment"
                              "client"
                              "method"
                              "attemps"  ;
        grid-template-columns: repeat(1,1fr);
    }
}

