.center-row{
    display: grid;    
    column-gap: 10px;
    grid-auto-flow: column;
    place-content: center;
    align-items: center;
}

.left-row{
    display: grid;    
    column-gap: 10px;
    grid-auto-flow: column;
    place-content: start;
    align-items: center;
}

.rigth-row{
    display: grid;    
    column-gap: 10px;
    grid-auto-flow: column;
    place-content: end;
    align-items: center;
}

.operation{
    cursor: pointer;
}