
.sidebar{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:55px auto;    
    background-color: #2d323e;
    color: white !important;
    
}

.sidebar-title{
    display: grid;
    grid-template-columns: auto 40px ;
    align-items: center;
    padding: 7px;
    background-color: #1e2129;
}

.sidebar-title  a{
    color: #dfdfdf;
    text-decoration: none;
}

.sidebar-title   a:hover{
    color: #dfdfdf !important;
    text-decoration: none;
}

.sidebar-menu-icon{
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
}

.sidebar-menu{
    padding: 20px;
}