#app{
    position: absolute;
    width: 100%;
    height: 100%;
}

.main-container{    
    height: 100%;
    display: grid;
    grid-template-areas:  " sidebar header header"
                            " sidebar main-content main-content";    
    grid-template-columns: 250px 1fr 1fr;    
    grid-template-rows: 55px 1fr ;
        
}

.main-container .sidebar{
    grid-area: sidebar;
}

.main-container .header {
    grid-area: header;
}

.main-container .content{
    grid-area: main-content;
}

@media only screen and (max-width: 768px){
    .hide {
        grid-template-areas:  " header header header"
                            " main-content main-content main-content";  
    }

    .visible {
        grid-template-areas:  " sidebar header header"
                            " sidebar main-content main-content";  
    }
    
    .hide .sidebar{
        display: none;
    }

    .visible .sidebar{
        display:grid;
    }
} 