.content-title{
    margin-bottom: 1em !important;
}
.detail-list{            
        background-color: #fff;
        border: 1px solid #dfdfdf;
        border-radius: 3px;
        padding: 0.75rem;
    
}